body {
    font-family: serif;
    background: gainsboro;
}

h1, h2, h3 {
    font-family: sans-serif;
}

header h1 {
    text-align: center;
    color: blue;
}

header {
    background: white;
}

header {
    padding: 10px;
    /*border: solid 1px black;*/
}

#container{
    margin: auto;
    /*border: solid 1px black;*/
    margin-left: 25%;
    margin-right: 25%;

}

article{
    margin-top: 20px;
    padding: 10px;
    background: white;
}

article p{
    margin-bottom: 10px;
}

footer{
    text-align: center;
    color: grey;
}

article small{
    color: aqua;
}

.post-head{
    margin-bottom: 35px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}